[submodule "external/Sutra"]
	path = external/Sutra
	url = https://github.com/EmmaLeonhart/Sutra
[submodule "external/emergent-misalignment"]
	path = external/emergent-misalignment
	url = https://github.com/emergent-misalignment/emergent-misalignment
[submodule "external/model-organisms-for-EM"]
	path = external/model-organisms-for-EM
	url = https://github.com/clarifying-EM/model-organisms-for-EM
